<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.typekit.net/ecn4una.css">
    <link rel="stylesheet" href="https://use.typekit.net/ecn4una.css">

    <link rel="stylesheet" href="stylesheet/style.css">


    <title>ReadHer</title>
  </head>
  <body>

    <div class="text-center">


        <div class="container-fluid">
          <h1 class="display-3 text-center presentation_text m-4 p-4" id="punchline"> Les fondatrices </h1>
          <div class="row d-flex justify-content-center">

          <div class="col-sm-8  text-about ">
          <p>ReadHer est né d'une rencontre dans le cadre du bootcamp The Hacking Project. Trois apprenties codeuses, Nathalie Grego, Kenza Mezouar et Typhaine Charrat ont saisi l'opportunité offerte par la formation pour monter un réseau social répondant au manque de visibilité des écrivaines dans le monde de la littérature.<br><br>

            En tant que lectrice, Nathalie a toujours trouvé qu'il était plus difficile d'obtenir des références de lectures qui sortent des recommandations habituelles.
            En tant que marketer, elle souhaitait fonder une nouvelle communauté où il serait possible de partager ses affinités littéraires et culturelles. Le tout dans l'ouverture rendue possible par un modèle freemium. Avec ReadHer, son souhait est devenu réalité.<br><br>

            Designer graphique et typographe, Kenza s'est engagée dans le projet avec le désir de mettre sa sensibilité visuelle au service d'une nouvelle image de la littérature : moderne et ouverte à tout.e.s.<br><br>

            Littéraire de formation, c'est au cours de ses études et de son parcours personnel de lectrice que Typhaine s'est aperçue de l'absence des femmes dans le canon littéraire. Elle a imaginé ReadHer avec le désir de créer un nouvel espace qui serait entièrement dédié à la découverte de nouvelles voix et de nouvelles visions du monde.<br><br>

         </div>
        </div>
      </div>

    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
