<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.typekit.net/ecn4una.css">
    <link rel="stylesheet" href="https://use.typekit.net/ecn4una.css">

    <link rel="stylesheet" href="stylesheet/style.css">


<title>ReadHer</title>
  <body>
    <div class="text-center">

     <div class="container-fluid">
      <h1 class="display-3 presentation_text m-4 p-4" id="punchline"> Manifesto</h1>
        <div class="row d-flex justify-content-center">

        <div class="col-sm-8 text-about ">
          <p> On a fait une expérience.<br><br>

          On a demandé à notre entourage et à nos rencontres de nous citer les écrivaines qu’ils connaissaient.<br><br>

          "Simone de Beauvoir, Marguerite Duras, Colette, Jane Austen, Virginia Woolf… " Et quelques dizaines d’autres sont souvent revenues, du genre Germaine de Staël, ou George Sand, pour les écrivaines du passé les plus célèbres. Amélie Nothomb, Marie Darrieussecq, Fatou Diome, Maylis de Kerangal, Annie Ernaux pour les écrivaines de l’actualité littéraire.<br><br>


          Parfois, moment de grâce, un nom nouveau venait enrichir la liste. Un nom français ignoré de l’actualité littéraire. Mais aussi un nom kenyan, taïwanais, brésilien.<br><br>

          Le sommet de l’iceberg.<br><br>

          Avez-vous déjà entendu parler de Clarice Lispector ? Et de Marina Tsvetaïeva ? Carson McCullers, Elsa Morante, Akiko Yosano, Wu Zao, Buchi Emecheta, Leylâ Erbil, Leslie Feinbberg, Dương Thu Hương, Jean Rhys, Flannery O’Connor, Geneviève Brisac, Karen Blixen, Jeannette Winterson, Catherine L. Moore, Alice Munro, Christine Jeanney, Violette Leduc, Chimamanda Ngozi Adichie, Katherine Mansfield, Rosemonde Lehmann, Djuna Barnes, Unica Zürn, Murasaki Shikibu, Yoko Ogawa, Cécile Portier, Juliette Mezenc ?<br><br>

          Un monde de littérature est à découvrir, et on voudrait que ReadHer vous aide à l’explorer.</p><br>

        </div>
      </div>
    </div>
</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
