<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.typekit.net/ecn4una.css">
    <link rel="stylesheet" href="https://use.typekit.net/ecn4una.css">
    <link rel="stylesheet" href="stylesheet/style.css"> 
    <title>repl.it</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
<body>
<div class="p-3 mb-2 bg-transparent text-white text-justify">
 <h1>Manifesto</h1>


</body>
</div>
</html>