<div class="text-center">

  <div class="container pt-5 mt-4">
    <h1 class="display-2  presentation_text my-5" id="catchline">Parlons des écrivaines</h1>
  </div>
<h1 class="display-3 text-center presentation_text my-0 pt-2" id="punchline"> Partage tes plus belles lectures.<br>Rencontre d'autres passionné.e.s.<br>Découvre de nouveaux chefs d'oeuvres.</h1>
  <div class="container d-flex justify-content-center mt-5 pt-4">
    <p> <%= link_to "ENTRE", crushes_path, class: "btn btn-dark mb-5 ", id: "btn-white"%> </p>
  </div>
</div>
