body {
    color: black
}
.logo_navbar{width: 80px}

h1 {
    font-family: bureau-grot, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black
}


.baseline { font-family: bureau-grot-condensed, sans-serif;
            font-size: 25px;
}


nav {
    font-family: bureau-grot-condensed, sans-serif;
    font-weight: 300;
    font-style: normal;
    background-color: black;
    font-size: 20px;
}

nav a:link {
    color: white;
}

nav a:visited {
    color: white;
}

nav a:hover {
    color: darkgray;
}

nav a:active {
    color: darkgray;
}

.nav-link {
    font-size: 25px
}

.nav-item {
    padding-right: 7px;
    padding-left: 7px
}

.nav-item a:link {
    color: whitesmoke;
}

.nav-item a:hover {
    color: dimgray;
}

.nav-item a:visited {
    color: whitesmoke;
}

.dropdown-menu {
    background-color: black;
    margin-left: 60px
}

#btn-search {
    font-size: 18px
}

#add_crush_btn{width: 50px; height: 50px; padding-top: 10px;
    -webkit-box-shadow: 0px 7px 7px -7px #C54561 7px 7px 15px 1px #C54561; 
    box-shadow: 0px 7px 7px -7px rgba(197, 69, 69, 0.5), 7px 7px 15px 1px rgb(197, 69, 69, 0.5); }

#card-show {
    display: flex;
    justify-content: center;
    height: 100%;
}

.card {
    -webkit-box-shadow: 5px 5px 0px 0px #000000;
    box-shadow: 5px 5px 0px 0px #000000;
    border: 1;
    border-radius: 0;
    border-color: black
}

.card-title {
    font-family: bureau-grot-condensed, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 3.5em;
    line-height: 1.2
}

.card-text {
    font-family: neue-haas-unica, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    line-height: 1.2;
}

.card-subtitle {
    font-family: neue-haas-unica, sans-serif;
    font-weight: 200;
    font-style: normal;
    line-height: 0.2;
    font-size: 15px;
    padding-bottom: 10px;
}

.card-quote {
    font-family: bureau-grot, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 25px;
    line-height: 1.1;
}

.card-credit {
    font-family: neue-haas-unica, sans-serif;
    font-weight: 200;
    font-style: normal;
    color: gray;
    font-size: 15px;
    padding-bottom: 2px
}

.card-author{   font-family: bureau-grot-condensed, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 25px;
    line-height: 1.1;}
.crush-link-btn {
    font-family: bureau-grot-compressed, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
    line-height: 1.1;
    border: 1.4px solid;
    border-radius: 20px;
    padding: 2.2px 15px;
    background-color: black;
}
#title-crush{font-family: bureau-grot, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 25px;}

#kind_of_book{font-family: 25px; }

#sub_category{font-family: neue-haas-unica, sans-serif;
              font-weight: 900;
              font-style: normal;}

.crush-link-btn :active {
    color: mistyrose;
}

.crush-link-btn :visited {
    color: white
}

.crush-link-btn :link {
    color: white;
}

.crush-link-btn :hover {
    color: #d9cbcb;
    text-decoration: inherit
}


/* —————————————————— Bouton Crush —————————————————— */
#crush-link:active {
    color: rosybrown;
}

#crush-link :link,
#crush-link:visited {
    color: white;
}

#crush-link:hover {
    color: #a7a4a4;
    text-decoration: inherit
}



/* —————————————————— BADGE Lien —————————————————— */

#badge {
    margin-left: 8px;
    margin-right: 8px;
    font-family: neue-haas-unica, sans-serif;
    font-weight: 500;
    font-style: normal;
    background: none
}

#badge :link,
#badge :visited {
    color: black;
}

#badge :hover {
    color: dimgray;
    text-decoration: inherit
}


/* —————————————————— Input email / password —————————————————— */


#inputEmail,
#inputPassword {
    border-radius: 0;
    border-color: black
}

#inputPassword {
    border-top: 0
}

/* —————————————————— Bouton sign up/ sign in  —————————————————— */

#btn-signin-signup {
    background-color: black;
    width: 100px;
    text-align: center;
    display: flex;
    border-radius: 0;
    display: flex;
    justify-content: center;

    font-family: neue-haas-unica, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 20px
}


/* —————————————————— footer —————————————————— */


.text-footer {
    font-family: neue-haas-unica, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: black
}


.footer-link {
    font-family: neue-haas-unica, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: black
}

.footer-link a :active {
    color: black;
}

.footer-link a :hover {
    color: black;
    text-decoration: line-through
}
#footer-credit {
    font-family: neue-haas-unica, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 18px;}
