html {
    min-height:100%;}

h4 { color:white
    }

.minimum {
    color: white;
    font-size: 15px}


/* —————————————————— Links —————————————————— */


a {color: white}

a:visited{
    color: white ; }
a:active{
    color: white ; }
a:hover{
     color: #212e9b ;
     text-decoration: none; }

/* —————————————————— Alert Messages —————————————————— */

.alert_message {
    border: #fa8e58;
    color: #212e9b;
    font-family: neue-haas-unica, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 18px;
    z-index: 0;
}

/* —————————————————— Body —————————————————— */

body {
    background: linear-gradient(#f99e71, #91b0fe);
    color: black;
    background-repeat: no-repeat;
    height:100%;

}

/* —————————————————— Pictures —————————————————— */

.logo_navbar {
    width: 100px
}

.logo {
    width: 200px
}

h1 {
    font-family: bureau-grot, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black
}



/* —————————————————— Catchline —————————————————— */
#catchline {
    font-family: bureau-grot-condensed, sans-serif;
    font-weight: 500;
    padding-top: 0.2em;
    padding-bottom: 0.5em; margin-top: 0.5em ;margin-bottom: 1em;
    font-size: 7em;
    line-height: 1;


}

/* —————————————————— Punchline —————————————————— */

#punchline {
    font-size: 4em;
    line-height: 1;
}


#keywords {
    font-size: 6.7em;
    line-height: 0.9;
}

nav {
    font-family: neue-haas-unica, sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color:#000000;
    font-size: 16px;
    padding-left: 50%;
}

nav a:link {
    color: white;
}

nav a:hover {
    color: darkgray;
}

nav a:visited {
    color: white;
}

nav a:active {
    color: darkgray;
}


.nav-item a:link {
    color: whitesmoke;
    list-style: none;

}

.nav-item a:hover {
    color: dimgray;
    border: #fa8e58
}

.nav-item a:visited {
    color: whitesmoke;
}

#add_crush_btn {
    font-family: neue-haas-unica, sans-serif;
    font-weight: 400;
    font-size: 23px;
    width: 150px;
    height: 150px;
    background: #fa8e58;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 0;
    line-height: 1.1;
    -webkit-box-shadow: 5px 5px 15px 5px #ffc4a7;
    box-shadow: 5px 5px 15px 5px #ffc4a7;
}

.rounded-circle:hover {
    opacity: 0.6;
    transition: 0.3s;
}

li{        list-style: none;
}
/*————————————————————————— Cartes Crushes —————————————————————————*/

#card-show {
    display: flex;
    justify-content: center;
    height: 100%;
}

.card {

    -webkit-box-shadow: 5px 5px 0px 0px, #212e9b;
    box-shadow: 5px 5px 0px 0px #212e9b;

}

.card-title {
    font-family: bureau-grot-condensed, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 2em;
    line-height: 1;
    color: #212e9b;

}


.presentation_text {
    font-family: bureau-grot-condensed, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 2.3em;
    line-height: 1.2;
    color: #ffff;
}


.card-text {
    font-family: neue-haas-unica, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    line-height: 1.2;
}

.card-subtitle {
    font-family: neue-haas-unica, sans-serif;
    font-weight: 200;
    font-style: normal;
    line-height: 1.0;
    font-size: 15px;
    padding-bottom: 5px;

    padding-bottom: 5px;
}

.card-quote {
    color: #D06D59;
    font-family: bureau-grot, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 25px;
    line-height: 1.1;
}

.card-credit {
    font-family: bureau-grot-condensed, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #D06D59;
    font-size: 18px;
}

.card-author {
    font-family: neue-haas-unica, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 25px;
    line-height: 1.1;
}

.crush-link-btn {
    font-family: neue-haas-unica, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 18px;
    line-height: 0.3;
    border-radius: 20px;

    background-color: #7d7d7d;
    background: #febf9f;
}

#setting-box{margin-left: -15px}

#square {
    border: #000000;
    border: 1px;
    border-radius: 0;
}

#title {
    color: #fa8e58;
    font-weight: 300;
    font-family: bureau-grot, sans-serif
}

#title-crush {
    font-family: neue-haas-unica, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 25px;
    background-color: #ffffff
}

#kind_of_book {
    font-family: 25px;
}

#sub_category {
    font-family: neue-haas-unica, sans-serif;
    font-weight: 900;
    font-style: normal;
}


/*————————————————————————— Edit Form Text —————————————————————————*/

.edit-form-text {
    padding-top: 10px;
    line-height: 0.8;
    font-family: neue-haas-unica, sans-serif;
    font-weight: 400;
}

/* —————————————————— Bouton Crush —————————————————— */
#crush-link:active {
    color: rosybrown;
}

#crush-link :link,
#crush-link:visited {
    color: white;
}

#crush-link:hover {

    text-decoration: inherit;
    color: #cd591f;
}

/* —————————————————— BADGE Lien —————————————————— */

#badge {
    margin-left: 8px;
    margin-right: 8px;
    font-family: neue-haas-unica, sans-serif;
    font-weight: 500;
    font-style: normal;
    background: none
}

#badge :link,
#badge :visited {
    color: black;
}

#badge :hover {
    color: dimgray;
    text-decoration: inherit
}


/* —————————————————— Input email / password —————————————————— */

#inputEmail,
#inputPassword {
    border-radius: 0;
    border-color: black;
    font-size: 15px
}

#inputPassword {
    border-top: 0
}

#inputPassword-border {
    border-radius: 0;
    border-color: black;
    font-size: 15px
}

#six-min {
    font-family: neue-haas-unica, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 13px;
    padding-left: 10px
}

/* —————————————————— Boutons sign up / sign in —————————————————— */

#btn-signin-signup {
    background-color: #ffffff;
    color: #CC5F49;
    padding: 5px 30px;
    text-align: center;
    display: flex;
    border-radius: 0;
    border: 0;
    font-family: bureau-grot-condensed, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 25px;
}

#btn-signin-signup:hover {
    opacity: 0.5;
    color: #CC5F49;
    transition: 0.3s;
}

/* —————————————————— Boutons join us —————————————————— */

#btn-white{
    background-color: #ffffff;
    color: #CC5F49;
    padding: 10px 50px;
    text-align: center;
    display: flex;
    border-radius: 0;
    border: 0;
    font-family: bureau-grot-condensed, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 25px;
}

#btn-white:hover {
    opacity: 0.5;
    color: #CC5F49;
    transition: 0.3s;
}

#forgot_yr-pwd {
    font-size: 15px;
    border-radius: 0;
    background: none;
    color: #000000;
    font-weight: 200;
    width: 200px;
    font-family: neue-haas-unica, sans-serif;
    justify-content: center;
}

#btn-remove {
    background-color: #5D67B6;
    text-align: center;
    display: flex;
    border-radius: 18px;
    justify-content: right ;
    font-family: neue-haas-unica, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 15px; border: 0
}

#btn-editprofile {
    font-size: 20px;
    border-radius: 20px;
    background: #fa8e58;
    color: #ffffff;
    font-weight: 200;
    border: 0;
    font-family: bureau-grot-condensed, sans-serif;
    justify-content: center;
}


#get_library_btn {
    background: #212e9b;
    font-family: bureau-grot-condensed, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 28px;
    width: 150px;
    height: 150px;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 0;
    padding-top: 45px;
    top: 10%;
    line-height: 1;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 0
}

#get_library_btn_sm {
    background: #fa8e58;
    font-family: neue-haas-unica, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
    line-height: 1.3;
    border-radius: 0;
    border: 0
}



#jumbotron_colored {
    background: #f5e5dd
}

#btn-message {
    font-family: bureau-grot-condensed, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: black
}

#btn_update_profile {
    background: #fa8e58;
    font-family: neue-haas-unica, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
    line-height: 1.3;
    border: 0;
    border-radius: 0;
    float: right;
    position: relative;
    right: 5%;
}

/* —————————————————— Mails —————————————————— */

.welcome-title {
    font-family: bureau-grot, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 4em;
    line-height: 1.2;
    color: #000000
}

.welcome-text {
    font-family: neue-haas-unica, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 19px;
    color: black
}

.welcome-footer {
    font-size: 14px;
}

.color-bgd {
    border-radius: 0;
    color: #e5e5e5
}

.img_shadow {
    -webkit-box-shadow: 5px 5px 0px 0px #000000;
    box-shadow: 5px 5px 0px 0px #000000;
    border: 2;
    border-radius: 0;
    border-color: black
}


#info {
    line-height: 1.3;
    color: #6d6d6d;
    font-size: 15px;
}

/* —————————————————— Rubric chapter —————————————————— */

#rubric_chapter {
   color: #FFF
}



/* —————————————————— Media Queries —————————————————— */

@media only screen and (max-width: 600px) {
    #punchline {
        font-size: 4em;
        line-height: 1.0;
    }

    .crush-link-btn {

        padding: 15px 15px;
    }
}

@media only screen and (max-width: 990px) {

    .nav-item {
        display: flex;
        justify-content: center;

    }


    #catchline {
        font-family: bureau-grot-condensed, sans-serif;
        font-weight: 500;
        padding-top: 0.5em;
        padding-bottom: 0.5em; margin-top: 0.5em ;margin-bottom: 1em;
        font-size: 5.5em;
        line-height: 0.9;
        text-align: center;
    }



}


/* —————————————————— Library —————————————————— */

#show_librairies_cart {
    display: flex;
    align-items: flex-start;
    flex-flow: wrap;
}

/* —————————————————— Toggler Icon —————————————————— */

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #FFF;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

/* —————————————————— Logo shelf —————————————————— */

.text-about{
    display: flex;
    text-align: left;
    font-family: bureau-grot-condensed, sans-serif;
    font-weight: 400;
    line-height: 1.2;
    font-style: normal;
    font-size: 2em;
    color: white
}
/* —————————————————— Button Inbox Message —————————————————— */


.bg-white{
    background-color: white;
                }

 ul {
      list-style-type: none;
}

.message_first_name {

    color: #6d6d6d;
    font-family: bureau-grot-condensed, sans-serif;
    font-weight: 400;
    font-size: 2em}


    /* —————————————————— Inbox Page —————————————————— */

    .image-cropped{
        width: 200px;
        height:200px;
        object-fit: cover;

    }

    .text-inbox{font-family: bureau-grot-condensed, sans-serif;
        font-weight: 300;
        font-size: 4em ;
        }

    .text-inbox a:link {color: #212e9b}
    .text-inbox a:visited {color: #212e9b}
    .text-inbox a:active {color: #5D67B6}
    .text-inbox a:hover {color: #5D67B6}



 a:hover{ color: gainsboro ;}
a:visited{ color: white ; }
a:active{ color: white ; }


 .comment {
    width: 152%;
    height: 100px;
    padding: 10px;
    margin-bottom:10px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: left;
    border:0;
    border-radius: 5px
    }

    #btn-send{
    background-color: #FFFFFF;
    background-color: #ffffff;
    color: #CC5F49;
    padding:5px 15px;
    text-align: center;
    display: flex;
    border-radius: 0;
    border: 0;
    font-family: bureau-grot-condensed, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 25px;
    }


/* —————————————————— footer —————————————————— */

.text-footer {
    font-family: neue-haas-unica, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    color: black
}

.footer-link a :visited {
    color: black
}
.footer-link {
    font-family: neue-haas-unica, sans-serif;
    font-weight: 500;
    font-size: 18px;

}

.footer-link a :active {
    color: white;
}

a.footer-link :hover {
    color: white;
    text-decoration: line-through
}


.to_comment{color: white}


#footer-credit {
    font-family: neue-haas-unica, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 18px;
    bottom: 0%;
}


a.footer-link:link {color:black}
a.footer-link:visited {color:black}
a.footer-link:hover{color:white; text-decoration: none; transition: 0.3s;}

.box{width:50% }




/* —————————————————— Media Queries —————————————————— */

@media only screen and (max-width: 600px) {


    .navbar-nav{padding-top:20px}
    .crush-btn{font-size:1.2em
    }
    #catchline {
        font-size: 3.5em;
        line-height: 1.0;
        letter-spacing: 1px
    }

    #punchline {
        font-size: 3em;
        line-height: 1.0;
    }


    .nav-link {
        font-size: 1.2em;
        line-height:1.2;
        justify-content: center;
    }

    #form-place{
        display: flex;
        padding-top: 20px}

    #login{
        padding-bottom: 10px
    }


}


.button-pages{font-size: larger}

/*---------- button view/add crushs ----------*/
@media only screen and (min-width: 990px) {
    #crush-link{padding: 5px 10px;}

}

@media only screen and (max-width: 990px) {
    #crush-link{padding: 12px 15px;}

}

/*---------- button view/add crushs ----------*/


.page-link a:link {
    color: #000000;
}

.page-link a:hover {
    color: #000000;
}

.page-link a:visited {
    color: #000000;
}

#error_explanation{color:white}

#alerte-devise, #error_explanation{color: #212e9b}
