
  
body {
    background: linear-gradient( #fee3d5, #91b0fe);
    color: black
}

.logo_navbar {
    width: 100px
}

h1 {
    font-family: bureau-grot, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black
}


#punchline {
    font-size: 5em;
    line-height: 0.9;
  }
nav {
    font-family: neue-haas-unica, sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #000000;
    font-size: 16px;
    padding-left: 50%;
}

nav a:link {
    color: white;
}

nav a:hover {
    color: darkgray;
}
nav a:visited {
    color: white;
}

nav a:active {
    color: darkgray;
}

.nav-item {
    padding-right: 5px;
    padding-left: 5px;
}

.nav-item a:link {
    color: whitesmoke;
}

.nav-item a:hover {
    color: dimgray;
    border: #fa8e58
}

.nav-item a:visited {
    color: whitesmoke;
}

#add_crush_btn {
    font-family: neue-haas-unica, sans-serif;
    font-weight: 400;
    font-size: 25px ;
    width: 150px;
    height: 150px;
    background: #fa8e58;
    margin-top: 30px; 
    margin-bottom:30px; 
    border: 0; 
    line-height: 1;
    -webkit-box-shadow: 5px 5px 15px 5px #ffc4a7 ;
    box-shadow: 5px 5px 15px 5px #ffc4a7;; 
}

.rounded-circle:hover {
    opacity: 0.6 ; 
    transition: 0.3s;
}


/*————————————————————————— Cartes Crushes —————————————————————————*/

/* #card-show {
    display: flex;
    justify-content: center;
    height: 100%;
    
} */

.card {
    -webkit-box-shadow: 5px 5px 0px 0px #000000;
    box-shadow: 5px 5px 0px 0px #000000;
    border: 1;
    border-radius: 0;
    border-color: black
}

.card-title {
    font-family: bureau-grot-condensed, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 2.5em;
    line-height: 1
}

.card-text {
    font-family: neue-haas-unica, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    line-height: 1.2;
}

.card-subtitle {
    font-family: neue-haas-unica, sans-serif;
    font-weight: 200;
    font-style: normal;
    line-height: 1.0;
    font-size: 15px;
    padding-bottom: 5px;
}

.card-quote {
    font-family: bureau-grot, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 25px;
    line-height: 1.1;
}

.card-credit {
    font-family: neue-haas-unica, sans-serif;
    font-weight: 200;
    font-style: normal;
    color: gray;
    font-size: 15px;
}

.card-author {
    font-family: neue-haas-unica, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 25px;
    line-height: 1.1;
}

.crush-link-btn {
    font-family: neue-haas-unica, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 18px;
    line-height: 0.3;
    border-radius: 20px;
    padding: 5.2px 15px;
    background-color: #7d7d7d;
    background: #febf9f;
}

#title{    color:#fa8e58; font-weight: 300;
   
    font-family: bureau-grot, sans-serif
}

#title-crush {
    font-family: neue-haas-unica, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 25px;
    background-color: #ffffff
}

#kind_of_book {
    font-family: 25px;
}

#sub_category {
    font-family: neue-haas-unica, sans-serif;
    font-weight: 900;
    font-style: normal;
}

.crush-link-btn :active {
    color: mistyrose;
}

.crush-link-btn :visited {
    color: white
}

.crush-link-btn :link {
    color: white;
}

.crush-link-btn :hover {
    color: #d9cbcb;
    text-decoration: inherit
}

/*————————————————————————— Edit Form Text —————————————————————————*/

.edit-form-text{padding-top: 10px;
                line-height: 0.8;
                font-family: neue-haas-unica, sans-serif;
                font-weight: 400; }

/* —————————————————— Bouton Crush —————————————————— */
#crush-link:active {
    color: rosybrown;
}

#crush-link :link,
#crush-link:visited {
    color: white;
}

#crush-link:hover {
    color: #a7a4a4;
    text-decoration: inherit;
    color: #cd591f;
}

/* —————————————————— BADGE Lien —————————————————— */

#badge {
    margin-left: 8px;
    margin-right: 8px;
    font-family: neue-haas-unica, sans-serif;
    font-weight: 500;
    font-style: normal;
    background: none
}

#badge :link,
#badge :visited {
    color: black;
}

#badge :hover {
    color: dimgray;
    text-decoration: inherit
}


/* —————————————————— Input email / password —————————————————— */

#inputEmail,
#inputPassword {
    border-radius: 0;
    border-color: black;
    font-size: 15px
}

#inputPassword {
    border-top: 0
}

#inputPassword-border {
    border-radius: 0;
    border-color: black;
    font-size: 15px
}

#six-min {
    font-family: neue-haas-unica, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 13px;
    padding-left: 10px
}

/* —————————————————— Boutons sign up / sign in  —————————————————— */

#btn-signin-signup {
    background-color: #fa8e58;
    width: 100px;
    text-align: center;
    display: flex;
    border-radius: 0;
    justify-content: center;
    border:0;
    font-family: neue-haas-unica, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 20px
}

#forgot_yr-pwd {  
    font-size:15px; 
    border-radius: 0; 
    background: none;
    color: #000000;   
    font-weight: 200;
    width: 200px;   
    font-family: neue-haas-unica, sans-serif;
    justify-content: center;

}

#btn-remove {
    background-color: black;
    text-align: center;
    display: flex;
    border-radius: 20px;
    justify-content: center;
    font-family: neue-haas-unica, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 15px
}

#btn-editprofile {
    font-size: 20px; 
    border-radius: 20px;
    background: #fa8e58;
    color:#ffffff ;   
    font-weight: 200;
    border: 0;   
    font-family: bureau-grot-condensed, sans-serif;
    justify-content: center;}
  
  
#get_library_btn{
    background: #212e9b;
    font-family: bureau-grot-condensed, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 28px ;
    width: 150px;
    height: 150px;
    margin-top: 30px; 
    margin-bottom:30px; 
    border: 0;
    padding-top: 45px; top:10%; 
    line-height: 1;
    padding-left: 40px;
    padding-right: 40px; border-radius: 0

}
  
#get_library_btn_sm{
    background: #fa8e58;
    font-family: neue-haas-unica, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 18px ; 
    line-height: 1.3;
    border-radius: 0;
    border :0
}
#jumbotron_colored{
    background: #f5e5dd
}
#btn-message{    
    font-family: bureau-grot-condensed, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: black}


 #btn_update_profile{ 
    background: #fa8e58;
    font-family: neue-haas-unica, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 18px ; 
    line-height: 1.3;
    border:0;
    border-radius: 0;
    float: right;
    position:relative;
    right: 5%;
 }
 
/* —————————————————— footer —————————————————— */

.text-footer {
    font-family: neue-haas-unica, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    color: black
}

.footer-link {
    font-family: neue-haas-unica, sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: black
}

.footer-link a :active {
    color: black;
}

.footer-link a :hover {
    color: black;
    text-decoration: line-through
}

#footer-credit {
    font-family: neue-haas-unica, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 18px;
    bottom: 0%;
}

/* —————————————————— Mails  —————————————————— */

.welcome-title {
    font-family: bureau-grot, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 4em;
    line-height: 1.2;
    color: #000000
}

.welcome-text {
    font-family: neue-haas-unica, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 19px;
    color: black
}

.welcome-footer {
    font-size: 14px;
}

.color-bgd {
    border-radius: 0;
    color: #e5e5e5
}

.img_shadow {
    -webkit-box-shadow: 5px 5px 0px 0px #000000;
    box-shadow: 5px 5px 0px 0px #000000;
    border: 2;
    border-radius: 0;
    border-color: black
}


#info{  line-height: 1.3; 
        color: #6d6d6d; 
        font-size: 15px;
        }


  /* —————————————————— Images —————————————————— */


 .img-circled{ 
    width:250px;
    height:250px; 
    object-fit:cover;
    padding: 10px;
    border-radius:50%;  
              }


        /* —————————————————— Media Queries —————————————————— */

        @media only screen and (max-width: 600px) {
            #punchline {
              font-size: 3em;
              line-height: 1.0;
            }
          }