<p>Bienvenue <%= @email %>!</p>

<p>Tu peux confirmer ton compre en cliquant sur le lien suivant:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
