<p>Bonjour <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Nous t'informons du fait que ton email a bien été changé pour <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Nous t'informons du fait que ton email a bien été changé pour <%= @resource.email %>.</p>
<% end %>
