<p>Bonjour <%= @resource.email %>!</p>

<p>Une demande a été émise pour changer ton mot de passe. Tu peux le faire en cliquant sur le lien suivant :</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si tu n'as pas fait cette demande, ne prends pas cet email en compte.</p>
<p>Ton mot de passe ne sera changé qu'une fois que tu auras cliqué sur le lien et que tu l'auras modifié.</p>
