<footer>
  <div  class="container mt-5">
        <p class="float-right">
          <a href="#" class="footer-link"> ↑ Back to top</a>
        </p>

        <div class="text-footer">
            <div class="container footer-link">
                <div class="row py-2">
                    <div class="col-sm text-left">
                        <b>ReadHer</b>
                        <br>Manifesto
                        <br><%= link_to "About us",  pages_about_path, class:"footer-link" %> 
                    </div>

                    <div class="col-sm text-left">
                       <b>Support</b>
                       <br> Mentions Légales
                       <br><%= link_to "Policy",  pages_policy_path, class:"footer-link" %> 
                    </div>

                    <div class="col-sm text-left">
                      <b>Contact</b>
                       <br>Facebook
                       <br>Twitter
                    </div>
                </div>
                <hr>
                <div class="d-flex justify-content-center align-self  p-1" id="footer-credit">Readher © Paris — 2019</div>
            </div>

            <br>

        </div>
    </div>

    </footer>